[submodule "detecteur_mouvement"]
	path = detecteur_mouvement
	url = https://github.com/apprensemble/detecteur_mouvement.git
[submodule "nodemcu-firmware"]
	path = nodemcu-firmware
	url = git@github.com:apprensemble/nodemcu-firmware.git
